<div class="gutter-example">
  <div nz-row nzGutter="8">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">col-6</div>
    </div>
  </div>
</div>


<div nz-row>
  <div style="background-color: red" nz-col nzSpan="12">Show</div>
</div>
<div nz-row>
  <div style="background-color: red" nz-col nzSpan="6" nzOffset="6">Show111</div>
</div>

<div nz-row>
  <div style="background-color: red" nz-col nzSpan="6" nzOffset="6" nzPush="2">Show222</div>
</div>

<div>
  <div style="background-color: red" nz-col nzSpan="6" nzOffset="6" nzPull="2">Show222</div>
</div>
