<div>


  <button nz-button nzType="default">按钮1</button>
  <button nz-button nzType="primary">按钮1</button>
  <button nz-button nzType="dashed">按钮1</button>
  <button nz-button nzType="danger" nzLoading="true">按钮1</button>
  <br>

  <button nz-button nzType="primary" nzShape="circle" nzSize="large" >
    <i class="anticon anticon-search"></i>
    搜索
  </button>
  <button nz-button nzType="'primary'" nzShape="'circle'" nzSize="small" loading>
    <i class="anticon anticon-search"></i>
  </button>
  <button nz-button nzType="'primary'" nzShape="'circle'">
    <i class="anticon anticon-search"></i>
  </button>
</div>
