<!--
<div nz-row>
  <div nz-col nzSpan="6">

    <button nz-button nzType="default">按钮1</button>
    <button nz-button nzType="primary">按钮1</button>
    <button nz-button nzType="dashed">按钮1</button>
    <button nz-button nzType="danger" nzLoading="true">按钮1</button>

  </div>

  <div nz-col nzSpan="6">

    <button nz-button nzType="default">按钮1</button>
    <button nz-button nzType="primary">按钮1</button>
    <button nz-button nzType="dashed">按钮1</button>
    <button nz-button nzType="danger" nzLoading="true">按钮1</button>

  </div>
  <div nz-col nzSpan="6">

    <button nz-button nzType="default">按钮1</button>
    <button nz-button nzType="primary">按钮1</button>
    <button nz-button nzType="dashed">按钮1</button>
    <button nz-button nzType="danger" nzLoading="true">按钮1</button>

  </div>
  <div nz-col nzSpan="6">

    <button nz-button nzType="default">按钮1</button>
    <button nz-button nzType="primary">按钮1</button>
    <button nz-button nzType="dashed">按钮1</button>
    <button nz-button nzType="danger" nzLoading="true">按钮1</button>

  </div>


</div>

<div nz-row>
  <div nz-col nzSpan="12">

    <button nz-button nzType="primary" nzShape="" nzSize="large">
      <i class="anticon anticon-search"></i>
      搜索
    </button>
    <button nz-button nzType="'primary'" nzShape="'circle'" nzSize="small" loading>
      <i class="anticon anticon-search"></i>
    </button>
    <button nz-button nzType="'primary'" nzShape="'circle'">
      <i class="anticon anticon-search"></i>
    </button>
  </div>
</div>


<app-nz-demo-grid-gutter></app-nz-demo-grid-gutter>
<app-nz-demo-grid-flex></app-nz-demo-grid-flex>
-->
<app-nz-demo-layout></app-nz-demo-layout>
